@using Conference_Management_System.Data;
@using Conference_Management_System.Models
@model dynamic

@inject ApplicationDbContext _db;

@{
    ViewData["Title"] = "Index";
}
<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Papers available to review</h2>
        </div>
    </div>
</div>

<table class="table-primary table-bordered table-striped" width="100%">
    <thead>
        <tr class="table-info">
            <th>
                Paper Title
            </th>
            <th width="5%"></th>
        </tr>
        
    </thead>
    <tbody>
        @foreach (var paper in Model.Papers)
        {
            <tr>
                <td>
                    <a asp-controller="Paper" asp-action="View" asp-route-id="@paper.Id">@paper.Title</a>
                </td>
                <td>
                    <a asp-controller="Review" asp-action="AcceptReview" class="btn btn-primary mx-2" asp-route-id="@paper.Id">Accept</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Reviews in progress</h2>
        </div>
    </div>
</div>

<table class="table-info table-bordered table-striped" width="100%">
    <thead>
        <tr class="table-info">
            <th>
                Paper Title
            </th>
            <th width="5%">
                Rating
            </th>
            <th>
                Comments
            </th>
            <th width="5%"></th>
        </tr>

    </thead>
    <tbody>
        @foreach (var review in Model.Reviews)
        {
            @if (review.Status == "In Progress")
            {
                <tr>
                    <td>
                        <a asp-controller="Paper" asp-action="View" asp-route-id="@review.Paper">@_db.Papers.Find(review.Paper).Title</a>
                    </td>
                    <td>
                        @review.Rating
                    </td>
                    <td>
                        @review.Comments
                    </td>
                    <td>
                        <a asp-controller="Review" asp-action="Edit" class="btn btn-primary mx-2" asp-route-id="@review.Id">Edit</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Completed reviews</h2>
        </div>
    </div>
</div>

<table class="table-info table-bordered" width="100%">
    <thead>
        <tr class="table-info">
            <th width="47%">
                Paper Title
            </th>
            <th width="6%">
                Rating
            </th>
            <th>
                Comments
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var review in Model.Reviews)
        {
            @if (review.Status == "Completed")
            {
                <tr>
                    <td>
                        <a asp-controller="Paper" asp-action="View" asp-route-id="@review.Paper">@_db.Papers.Find(review.Paper).Title</a>
                    </td>
                    <td>
                        @review.Rating
                    </td>
                    <td>
                        @review.Comments
                    </td>
                </tr>
            }
        }
    </tbody>
</table>



